
body {
    background-color: rgb(135, 206, 250, 0.80);
}

.box {
    display: inline-flex;
    position: relative;
    left: 3px;
    top: 5px;
    width: 35px;
    height: 35px;
    border-radius: 0px;
    background-color: oldlace;
    color: black;
}

.box:hover {
    background-color: grey;
    opacity: 45%;
}

.todayBox {
    display: inline-flex;
    position: relative;
    left: 3px;
    top: 5px;
    width: 35px;
    height: 35px;
    border-radius: 0px;
    background-color: grey; /* rgb(192, 36, 36); */
    color: black;
}

.selectedBox {
    display: inline-flex;
    position: relative;
    left: 3px;
    top: 5px;
    width: 35px;
    height: 35px;
    border-radius: 0px;
    background-color: grey;
    color: black;
}

.calendarBox {
    background-color: blanchedalmond;
    position: relative;
    left: 37%;
    width: 250px;
    height: 265px;
}

.increaseDayButton {
    display: inline;
    position: absolute;
    right: 0px;
    top: 10px;
    background-color: rgba(51, 51, 51, 0.20);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 12px;
}

.decreaseDayButton {
    display: inline;
    position: absolute;
    left: 0px;
    top: 10px;
    background-color: rgba(51, 51, 51, 0.20);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 12px;
}

.increaseMonthButton {
    display: inline;
    position: absolute;
    right: 35px;
    top: 10px;
    background-color: rgba(51, 51, 51, 0.20);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 12px;
}

.decreaseMonthButton {
    display: inline;
    position: absolute;
    left: 35px;
    top: 10px;
    background-color: rgba(51, 51, 51, 0.20);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 12px;
}

.month {
    display: inline;
    position: relative;
    text-align: center;
}


#month{
    text-align: center;
    height: 0px;    
}

.textBox {
    position: relative;
    left: 5px;
    top: -15px;
}

.date {
    position: relative;
    top: 5px;
    left: 91px;
    width: 90px;
    height: 0px;
}

.weekDays {
    position: relative;
    display: flex;
    font-size: 12px;
    max-width: 15px;
    max-height: 12px;    
}

#week-mon{
    position: relative;
    left: 5px;
    
}

#week-tue{
    position: relative;
    left: 17px;
}

#week-wed {
    position: relative;
    left: 32px;
}

#week-thu {
    position: relative;
    left: 45px;
}

#week-fri {
    position: relative;
    left: 60px;
}

#week-sat {
    position: relative;
    left: 80px;
}

#week-sun{
    position: relative;
    left: 100px;
}


