
section{
    padding: 5rem 7%;
}

.heading{
    font-size: 4rem;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/clinic_main_room.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
    padding-left: 6rem;
    padding-top: 10rem;
}

.home .content h3{
    font-size: 6rem;
    color: var(--white);
    line-height: 1.2;
}

.home .content p{
    line-height: 2;
    font-size: 1.5rem;
    color: var(--white);
    padding: 1rem 0;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .row .image{
    flex: 1 1 40rem;
}

.about .row .image img{
    width: 100%;
    height: 100%;
}

.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content h3{
    color: var(--black);
    font-size: 3.5rem;
    line-height: 1.5;
}

.about .row .content p{
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 2;
}

.services{
    background: var(--light-bg);
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.services .box-container .box{
    padding: 4rem;
    text-align: center;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
}

.services .box-container .box:hover{
    background: var(--hover);
}

.services .box-container .box img{
    margin: 1rem 0;
    height: 10rem;
}

.services .box-container .box h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--black);
}

.services .box-container .box p{
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 2;
}

.swiper-wrapper{
    display: inline-flex;
}

.swiper-slide {
    display: block;
    overflow-x: auto;
    width: 20%;
    margin-right: 2rem;
    text-align: center;
}

.swiper-slide .box h3{
    font-size: medium;
}

.swiper-slide .box span{
    font-size: small;
}

.swiper-slide:hover {
    transform: translateY(-10px);
    transform: scale(1.1);
}

.team-image img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}


@media (max-width: 991px){
    html{
        font-size: 55%;
    }

    .header .btn{
        display: none;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width: 768px){
    #menu-btn{
        display: inline-block;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: var(--white);
        border-top: var(--border);
        padding: 1rem 0;
        text-align: center;
        flex-flow: column;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        padding: 1rem 0;
        font-size: 2rem;
    }

    .home{
        background: left;
    }

    .home .content{
        max-width: 50rem;
        padding-left: 3rem;
    }

    .home .content h3{
        font-size: 4rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .home .content h3{
        font-size: 3rem;
    }
}

